<div class="setupmain" style="background-image: url(<%=asset_path('a2.jpg')%>)">
<div class="setupsub editsub">
<div class="setupcontainer" id="userdetail">
<h5 id="sgnuptop">Account Details</h5>
<form id="infoform">
<div class="form-group">

<input type="text" placeholder="First Name" name="firstname" class="form-control" aria-describedby="emailHelp" >
</div>
<div class="form-group">

<input type="text" placeholder="Last Name" name="lastname" class="form-control" aria-describedby="emailHelp" >
</div>
<div class="form-group">

<input type="email" placeholder="Email Id" name="email" class="form-control" aria-describedby="emailHelp" value="arpitdeveloper03@gmail.com" disabled>
</div>
<div class="form-group">

<input type="password" placeholder="Password" class="form-control">
</div>
<div class="form-group">

<input type="number" placeholder="Phone no" name="phoneno" class="form-control"  aria-describedby="emailHelp">
</div>

<div class="form-group">

<input type="text" placeholder="Date of Birth" name="dob" id="dob" class="form-control"  aria-describedby="emailHelp">
</div>

<h5>Gender:</h5>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio1">Male</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio2">Female</label>
</div>
<div class="custom-control custom-radio">
  <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
  <label class="custom-control-label" for="customRadio3">Others</label>
</div>

<button type="submit" class="btn btnlogin" id="updatebtn">Update</button>
</form>
</div>
</div>
</div>

<script>
$('#dob').datepicker();
</script>
<script>
var curent_id;
$(document).ready(function(){
  $.ajax({
    type: 'get',
    url: backpath+'/user/getByUin/'+<%=session[:current_user_id]%>,
    headers:{
  'Accept': 'application/json',
  'Content-Type':'application/json',
  'headerKey': '98f88a00-152a-4627-8157-3814c754c035',
    },
    
    datatype:'application/json',
    success: function(e){
      console.log(e);
      curent_id=e.uin;
      $('input[name=firstname]').val(e.firstName);
 $('input[name=lastname]').val(e.lastName);
$('input[name=email]').val(e.id);
  $('input[name=phoneno]').val(e.phoneNumber);

 $('input[name=dob]').val(e.dob);

    }
}).done( reload('userdetail'));
});
</script>
<script>
function reload(g){
    var container = document.getElementById(g);
    var content = container.innerHTML;
    container.innerHTML= content; 
    console.log("<%=session[:current_user_id]%>"); 
    updation();
}
</script>
<script>
function updation(){
$('#infoform').submit(function(event){
event.preventDefault();

var edata={
  'firstName':$('input[name=firstname]').val(),
  'lastName':$('input[name=lastname]').val(),
   'phoneNumber':$('input[name=phoneno]').val(),
   'uin':curent_id,
  'dob':$('input[name=dob]').val(),
  'gender':$('input[name=customRadio]:checked').val(),
};
if($('input[name=password]').val()!=""){
  edata.password=$('input[name=password]').val();
}

$.ajax({
  type: 'POST',
  url: backpath+'/user/updateUserByUin',
  headers:{
'Accept': 'application/json',
'Content-Type':'application/json',
  },
  data: JSON.stringify(edata),
  datatype:'json',
  success: function(e){
  location.reload();
   
  },
  
});

});

}
</script>