/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  width: 100vw;
}
.navbar {
  background-color: #1d2329;
}
#navheadbtn {
  color: white;
  border-color: white;
}
#navlogo {
  width: 15vw;
}
.nav-item {
  margin-left: 15px;
  margin-right: 15px;
}
.btn-secondary {
  color: #fff !important;
  background-color: #1d2329 !important;
  border-color: #1d2329 !important;
}
.dropdown-menuq {
  background-color: #1d2329 !important;
  width: 100%;
  opacity: 0.9;
}
.dropdown-item {
  color: white !important;
  text-align: center !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #414346 !important;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #1d2329;
  padding-left: 25px;
  color: white;
  padding-right: 25px;
}
.footsection {
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
}
.social {
  width: 20%;
  display: flex;
  justify-content: center;
  font-size: 26px;
}
.social svg {
  margin-right: 10px;
}

@media (max-width: 991.98px) {
  .dropdown-item {
    text-align: left !important;
  }
  .footer {
    flex-wrap: wrap;
  }
  .footer div {
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
body {
  overflow-x: hidden;
}
