// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.carousel {
  img {
    height: 80vh;
    object-fit: cover;
  }
}
.quotemain {
  background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.q1 {
  background-image: url("https://images.unsplash.com/photo-1574680178050-55c6a6a96e0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}
.q2 {
  background-image: url("https://images.unsplash.com/photo-1574680096145-d05b474e2155?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
}
.quote {
  display: flex;
  height: 50vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
  font-family: "Lobster", cursive;
  background-color: #2525254f;
  p {
    text-align: center !important;
  }
}
.contactus {
  width: 60%;
  text-align: center;
  padding: 10px;
  box-shadow: 1px 1px 3px 1px grey;
  margin: 20px;
  h5 {
    font-weight: bold;
  }
  .social1 {
    font-size: 26px;
    a {
      color: inherit;
      text-decoration: none;
    }
    svg {
      margin-left: 10px;
    }
  }
}
.adcontain {
  display: flex;
}
.advert {
  display: flex;
  background-color: #075ca5;
  width: 40%;
  color: white;
  font-size: 18px;
  padding: 10px;
  justify-content: space-around;
  font-weight: bold;
  margin: 20px;
  text-align: center;
  img {
    width: 160px;
  }
  .mat {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.videogallery {
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;

  border-radius: 10px;

  padding-left: 30px;

  .line {
    width: 24vw;
    height: 2px;
    /* box-shadow: 0px 2px 1px 1px #b9babb; */
    margin-bottom: 10px;
    background-color: #d3d7da;
  }
  .headslide {
    font-weight: bold;
  }
}

.scrollpane {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -150px;
  height: 150px;
  align-items: center;
  p {
    font-size: 40px;
  }
}
.card {
  box-shadow: 2px 2px 5px 2px #bbbec1;
  margin: 5px;
  width: 175px !important;
  .cardbody {
    background-color: #f1f2f3;
  }
  .cardtitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    color: #403c3c;
    font-weight: bold;
    height: 16px;
  }
  .imgscroll {
    height: 125px !important;
    width: 175px !important;
    object-fit: cover;
  }
}

@media (max-width: 991.98px) {
  .adcontain {
    flex-direction: column;
  }
  .contactus {
    width: inherit !important;
  }
  .advert {
    width: inherit !important;
  }
  .carousel {
    img {
      height: 45vh;
    }
  }
  .videogallery {
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
  }

  .card {
    width: 240px !important;
    .imgscroll {
      height: 150px !important;
      width: 240px !important;
    }
  }
  .aboutcontainer {
    flex-direction: column;
  }
}
.aboutcontainer {
  display: flex;
  justify-content: space-between;
  .aboutdiv {
    padding: 20px;
    margin: 20px;
    box-shadow: 2px 2px 4px 1px #bcbaca;
    .abouthead {
      font-weight: bold;
      color: #1d2329;
    }
    .aboutpara {
      font-size: 14px;
    }
  }
}
.cccarousel {
  cursor: pointer;
}
.categorycontainer {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.imagecategory {
  box-shadow: 2px 2px 3px 2px #888b90;
}
.imagecategory img {
  vertical-align: middle;
  border-style: none;
  width: 20vw;
  height: 50vh;
  object-fit: cover;
}
#carousel-contain {
  cursor: pointer;
}
.imagecategory:hover {
  opacity: 0.8;
  box-shadow: 2px 2px 8px 2px #2a80b3;
  cursor: pointer;
}
.categoryname {
  background-color: #e1e3ec;
  padding: 10px;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    align-items: center;
    color: #1d2329;
    font-size: 16px;
  }
}
.lead {
  padding: 40px;
  margin: 20px;
  h6 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  #concern {
    height: 25vh;
  }
}
